.sidebar {
  min-height: 100vh;
  background-color: #343a40;
  color: white;
}
.sidebar a {
  color: #adb5bd;
  text-decoration: none;
}
.sidebar a:hover {
  color: white;
}
.post-card img {
  width: 100%;
  height: auto;
}
.post-card {
  transition: transform 0.2s ease;
}
.post-card:hover {
  transform: scale(1.02);
}


.dropdown-menu {
  z-index: 1055 !important;
  max-height: 200px;
  overflow-y: auto;
}

/* Sidebar mobile (oculta por padrão em ecrãs pequenos) */
@media (max-width: 768px) {
  #sidebar {
    display: none;
  }

  #sidebar.mobile-show {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 75%;
    height: 100%;
    background-color: #343a40;
    overflow-y: auto;
    padding: 1.5rem;
  }
}


.google-visualization-table-td.col-a {
  width: 120px !important;
  max-width: 120px !important;
  white-space: nowrap;
}

.google-visualization-table-td.col-b {
  width: 200px !important;
  max-width: 200px !important;
  white-space: nowrap;
}

.google-visualization-table-td.col-c {
  width: 80px !important;
  max-width: 80px !important;
  white-space: nowrap;
}
